.custom-arrow-prev {
  left: -100px;
}

.custom-arrow-next {
  right: -100px;
}

@media only screen and (max-width:830px){ /*Only works on screens with <=650px width, this is to make the table fit smaller screens ig*/
  .custom-arrow-prev {
    left: -75px;
  }

  .custom-arrow-next {
    right: -75px;
  }
}

@media only screen and (max-width:630px){ /*Only works on screens with <=650px width, this is to make the table fit smaller screens ig*/
  .custom-arrow-prev {
    left: -60px;
  }

  .custom-arrow-next {
    right: -60px;
  }
}

@media only screen and (max-width:460px){ /*Only works on screens with <=650px width, this is to make the table fit smaller screens ig*/
  .custom-arrow-prev {
    left: -50px;
  }

  .custom-arrow-next {
    right: -50px;
  }
}

@media only screen and (max-width:300px){ /*Only works on screens with <=650px width, this is to make the table fit smaller screens ig*/
  .custom-arrow-prev {
    left: -30px;
  }

  .custom-arrow-next {
    right: -30px;
  }
}

.paragraph-text {
  text-align: justify;
}

.carousel-indicators-custom [data-bs-target]{
  background-color: #000;
}

